.grad {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    360deg,
    #091242 -11.11%,
    rgba(9, 18, 66, 0) 90.28%
  );
}
.gradsmall {
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0.3;
  background: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 86%);
  background-blend-mode: multiply;
}
.yellowgrad {
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
}
.clipdiv {
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 45% 100%, 45% 55%, 0% 55%, 0 0);
  background-image: url("https://imageup.me/images/d840a4f0-1081-4b65-8e31-c0a3608bb3ec.png");
}
.clipdivTwo {
  background-image: url("https://imageup.me/images/be458a5a-b90d-44ca-a503-e34f224a59b7.png");
}
.smallyellowgrad {
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
}
.gradbutton {
  background: linear-gradient(
    95deg,
    #ffb629 -1.19%,
    #ffda56 57.78%,
    #ffd7a6 115.08%
  );
  width: 1920px;
  height: 400px;
}
.commentgrad {
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
  width: 72.85px;
  height: 72.85px;
}
.h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;

  color: #1c1f35;
}
.p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 151.52%;
}
.buttongrad {
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
}
.inputdiv input {
  background: #091242;
  border: 1px solid #4e5683;
  margin-left: 28px;
}

.ul > li {
  padding: 44px 76px;
}
.opac {
  background: rgba(255, 255, 255, 0.08);
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.ispace > i {
  padding-right: 27px;
}

.navul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 135.02%;
}
.inputspace > li {
  padding-bottom: 17px;
}
.inputspacey > li {
  margin-right: 40px;
}
.tagSmall {
  width: 4px;
  height: 33px;
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
}
.tagBig {
  
display: flex;
flex-direction: row;
align-items: center;
padding: 3px 9px;
gap: 10px;
background: rgba(4, 28, 55, 0.5);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
